@media only screen and (max-width: 880px){
    .reminder-container {
        position: relative;
    }
    
    .reminder-button {
        color: #000;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: #fff;
        border: none;
        outline: none;
      }
    
    .icon{
        font-size: 20px;
        color: #000;
    }
    
    .reminder-content {
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: max-content;
        top: 100%;
        border-radius: 10px;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ddd;
        z-index: 2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .notification-logo{
        font-size: 40px;
        color: orange;
    }
    
    .notification-text{
        font-size: 20px;
        color: orange;
    }
}
@media only screen and (min-width: 880px){
    .reminder-container {
        position: relative;
    }
    
    .reminder-button {
        color: #000;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: #fff;
        border: none;
        outline: none;
      }
    
    .icon{
        font-size: 25px;
        color: #000;
    }
    
    .reminder-content {
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: max-content;
        top: 100%;
        border-radius: 10px;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ddd;
        z-index: 2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .notification-logo{
        font-size: 40px;
        color: orange;
    }
    
    .notification-text{
        font-size: 20px;
        color: orange;
    }
}
