.react-calendar-heatmap .color-scale-1 { 
    fill: #e6bc85; 
}
.react-calendar-heatmap .color-scale-2 { 
    fill: #c6a465; 
}
.react-calendar-heatmap .color-scale-3 {
    fill: #d9883c; 
}
.react-calendar-heatmap .color-scale-4 { 
    fill: #f8911b; 
}