@media only screen and (max-width: 880px){
    .Nav-Left{
        position:fixed;
        top:57px;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #fff;
        border-right: 1px solid #d5d5d5;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .Nav-Left.open{
        transform: translateX(0);
    }

    .button-menu {
        border: none;
        background-color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .MenuBar-Section{
        padding: 8px 4px;
        width: 100%;
    }

    .button-menu {
        border: none;
        background-color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    
    .MenuBar-List{
        list-style-type:none;
        padding: 0;
        width: 100%;
    }
    
    .MenuBar-List li{
        display: flex;
        gap: 15px;
        padding: 15px 15px;
        cursor: pointer;
        font-size: 18px;
        align-items: center;
    }
    
    .MenuBar-List li:hover {
        border-radius: 10px;
        background-color: orange;
    }
}

@media only screen and (min-width: 880px){
    .Nav-Left{
        position:fixed;
        top:57px;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        background-color: #fff;
        border-right: 1px solid #d5d5d5;
        align-items: flex-start;
        width: 250px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .Nav-Left.open{
        transform: translateX(0);
    }
    
    .MenuBar-Section{
        padding: 10px 4px;
        width: 100%;
    }

    .button-menu {
        border: none;
        background-color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    
    .MenuBar-List{
        list-style-type:none;
        padding: 0;
        width: 100%;
    }
    
    .MenuBar-List li{
        display: flex;
        gap: 15px;
        padding: 15px 15px;
        cursor: pointer;
        font-size: 18px;
        align-items: center;
    }
    
    .MenuBar-List li:hover {
        border-radius: 10px;
        background-color: orange;
    }
}

