.Nav{
    position:sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
    align-items: center;
}

.Nav-right{
    display: flex;
    align-items: center;
}

.Nav-right-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.Nav-left{
    display: flex;
    align-items: center;
}

.Nav-left-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.company{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: 18px;
}

.logo{
    width: 35px;
}
