@media only screen and (max-width: 520px){
    .int-content{
        display: grid;
        width: 100%;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        margin-bottom: 10px;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    }
    
    .int-content button{
        width: 100%;
        text-align: left;
        padding: 8px 10px;
        border: none;
        outline: none;
        border-radius: 5px;
        height: 40px;
        font-size: 15px;
        cursor: pointer;
        background-color: rgb(238, 238, 238);
    }
    
    .int-content button.selected{
        background-color: orange;
        color: white;
    }
    
    .int-content button:hover{
        background-color: rgb(255, 239, 231);
    }
    .int-content-but{
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-top: 20px;
        align-items: center;
    }
    .Interest-Section{
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 40px;
        align-items: center;
    }
    
    .button-interests{
        padding: 8px 10px;
        border-radius: 10px;
        background-color:orange;
        color: #fff;
    }
}

@media only screen and (min-width: 520px){
    .int-content{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    .int-content button{
        width: 100%;
        text-align: left;
        padding: 8px 10px;
        border: none;
        outline: none;
        border-radius: 5px;
        height: 40px;
        font-size: 15px;
        cursor: pointer;
        background-color: rgb(238, 238, 238);
    }
    
    .int-content button.selected{
        background-color: orange;
        color: white;
    }
    
    .int-content button:hover{
        background-color: rgb(255, 239, 231);
    }
    .int-content-but{
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-top: 20px;
        align-items: center;
    }
    .Interest-Section{
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 40px;
        align-items: center;
    }
    
    .button-interests{
        padding: 8px 10px;
        border-radius: 10px;
        background-color:orange;
        color: #fff;
    }
}
